*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}

.header{
    width: 100%;
}


.form{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-fieldset{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}


.form-article button{
    width: 70%;
    height: 35px;
    margin: 0 auto;
    
}

.form-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top:5px;
    padding-bottom: 5px;
    
}

.form-item input{
    width: 100%;
    height: 40px;
    border-radius: 0px 10px 5px 0px;
}

.form-Generate{
    width: 80%;
    height: 50px;
    margin: 15px auto;
}